<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Chat</title>
</head>
<body>
    <div id="container">
        <h1>Welcome <span id="user"></span></h1>
        <br>
        <section id="chat-window">
            <ul id="chat-ul">
            </ul>
            <div id="working-area">
                <textarea name="message" id="message" cols="30" rows="3" placeholder="Type your message" required></textarea>
                <br>
                <button id="send-btn">Send</button>
            </div>
            <h3>&copy; Dev Kushal</h3>
        </section>
        <h4>Alert: This is Open Global Chat !</h4>
        <h5>Fact: You can change your username by sending #cn=yourName</h5>
    </div>
    <script src="control.js"></script>
</body>
</html>